{% load staticfiles %}
<html>
    <head>
        <title>Camperp - Main Page - Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/blog.css" %}">

        <!--JQuery and Jquery UI-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Camperp - Blog</a></h1>
            <a href="{% url 'blog_post_new' %}"><span class="glyphicon glyphicon-plus"></span> Add new post</a>
        </div>
       <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
